<h1>Post Details</h1>

<div>
  <p>Text: <%= post.post.text %></p>
  <p>Created at: <%= post.post.createdAt %></p>
  <p>Username: <%= user.user.username %></p>
  <p>Post count: <%= count.count%></p>
</div>