/* style.css */
.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .likes {
    font-size: 14px;
    color: #999;
  }
  